* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  grid-area: footer; }

.footer {
  background: #A3A6BA;
  text-align: center;
  color: black; }
  .footer__row {
    width: 100%;
    padding: 0.6% 0%;
    font-size: 1rem;
    display: inline-block; }
  .footer__row a {
    text-decoration: none;
    color: black; }
  .footer__row ul {
    width: 100%; }
  .footer__row ul li {
    display: inline-block;
    margin: 0px 20px;
    padding: 0.6% 0.6%; }
  .footer__row ul li:hover {
    color: black;
    background-color: white; }
  .footer__row a i {
    font-size: 2rem;
    margin: 0% 1%;
    padding: 5px 5px; }

.footerFinal {
  font-weight: 600; }

@media (max-width: 900px) {
  .footer {
    text-align: left;
    padding: 2%; }
    .footer .footer__row ul li {
      display: block;
      margin: 1px 0px;
      text-align: left; }
    .footer .footer__row a i {
      margin: 0% 2%; }
  .footerFinal {
    text-align: center; } }

@media (min-width: 820px) {
  .footer__row {
    display: flex;
    justify-content: center; } }

@media (min-width: 200px) {
  .footer__row {
    display: flex;
    justify-content: center; }
    .footer__row a i {
      padding: 10px 10px; } }

html header {
  grid-area: header;
  height: 140px; }

html .imgheader {
  margin-right: 180px;
  margin-left: 20px; }

html main {
  grid-area: main;
  background-color: #d9dcf7;
  font-family: 'Oswald', sans-serif; }

html section {
  font-size: 1.3rem;
  padding: 1.5em;
  background-color: #d9dcf7;
  font-family: 'Roboto', sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

.navhover:hover {
  background-color: #A3A6BA; }

@media (max-width: 800px) {
  .fontsizemq {
    font-size: 1rem !important; } }

.hr {
  height: 10px;
  width: 250px;
  background-color: black;
  margin-left: 10%;
  margin-right: 70%; }

.hr1 {
  height: 10px;
  width: 250px;
  background-color: black;
  margin-left: 70%;
  margin-right: 0%; }

@media (max-width: 1000px) {
  html header {
    height: initial; }
    html header .imgheader {
      margin-right: 0px;
      margin-left: 0px; }
  section {
    padding: 1em;
    font-size: 0.9rem; }
  .hr {
    height: 10px;
    width: 100px; }
  .hr1 {
    height: 10px;
    width: 100px; } }

.encabezado {
  background-image: url("/assets/cieloencabezado.png");
  background-size: cover;
  color: #eee;
  text-align: left; }
  .encabezado::after {
    display: block;
    content: "";
    background-color: #d9dcf7; }

.wrapper {
  padding: 30px; }

.card-text {
  flex: 1 1 auto;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1rem; }

.divSeccion1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px; }
  .divSeccion1 h2 {
    margin-top: 20px; }
  .divSeccion1 p {
    padding: 5px 5px;
    text-transform: uppercase;
    font-size: 1rem; }

.divSeccion {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly; }
  .divSeccion p {
    padding-right: 0.4em;
    font-size: 1.4rem; }

.imgSeccion {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  margin: 10px 10px; }

@media (max-width: 500px) {
  .divSeccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    .divSeccion p {
      padding-right: 10px;
      font-size: 0.8rem;
      margin: 10px 10px; }
  .imgSeccion {
    width: 120px;
    height: 120px;
    box-shadow: 0px; } }

.animacionSalto {
  float: left;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: all 0.5s ease; }
  .animacionSalto:hover {
    margin-top: 10px; }

.animacionAgranda:hover {
  transform: scale(1.1); }

.animacionFooter {
  float: center;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: all 0.5s ease; }
  .animacionFooter:hover {
    margin-top: 10px; }

.animacionFooter:hover {
  transform: scale(1.1); }

@media (max-width: 700px) {
  .calendly-inline-widget {
    height: 350px !important; } }

h1, h2 {
  font-family: 'Oswald', sans-serif;
  padding: 10px 10px; }

h1 {
  font-size: 3rem;
  text-shadow: 4px 4px black; }

h2 {
  color: black;
  text-shadow: 4x 4x #FFF;
  font-size: 2rem;
  text-align: center;
  padding: 20px 20px; }

.claseTitulo {
  font-size: 1.8rem;
  padding-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
  text-align: center; }

@media (max-width: 500px) {
  h1 {
    font-size: 1.7rem;
    text-shadow: 2px 2px black;
    padding: 7px 7px; }
  h2 {
    font-size: 1.5rem;
    text-shadow: 2px 2px #FFF;
    padding: 8px 8px; }
  .claseTitulo {
    font-size: 1.3rem; } }

.textmq, .botonindex {
  font-size: 1rem;
  text-transform: uppercase; }

.textmq {
  font-family: 'Roboto', sans-serif; }

.botonindex {
  font-family: 'Oswald', sans-serif; }

@media (max-width: 500px) {
  .textmq {
    font-size: 0.9rem; } }

.botonindex {
  font-size: 0.8rem; }

footer {
  grid-area: footer; }

.footer {
  background: #A3A6BA;
  text-align: center;
  color: black; }
  .footer__row {
    width: 100%;
    padding: 0.6% 0%;
    font-size: 1rem;
    display: inline-block; }
  .footer__row a {
    text-decoration: none;
    color: black; }
  .footer__row ul {
    width: 100%; }
  .footer__row ul li {
    display: inline-block;
    margin: 0px 20px;
    padding: 0.6% 0.6%; }
  .footer__row ul li:hover {
    color: black;
    background-color: white; }
  .footer__row a i {
    font-size: 2rem;
    margin: 0% 1%;
    padding: 5px 5px; }

.footerFinal {
  font-weight: 600; }

@media (max-width: 900px) {
  .footer {
    text-align: left;
    padding: 2%; }
    .footer .footer__row ul li {
      display: block;
      margin: 1px 0px;
      text-align: left; }
    .footer .footer__row a i {
      margin: 0% 2%; }
  .footerFinal {
    text-align: center; } }

@media (min-width: 820px) {
  .footer__row {
    display: flex;
    justify-content: center; } }

@media (min-width: 200px) {
  .footer__row {
    display: flex;
    justify-content: center; }
    .footer__row a i {
      padding: 10px 10px; } }

/* INDEX PAGE */
.servicios {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  text-align: center; }
  .servicios img {
    max-width: 200px;
    height: 200px;
    border-radius: 5%; }

.servicio-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.servicio-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(70%);
  overflow: hidden;
  position: relative; }
  .servicio-img::before {
    display: block;
    padding-top: 56.25%; }

.botonindex {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem; }

.colorwhite {
  color: white; }

@media (max-width: 500px) {
  .textmq {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase; }
  .botonindex {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem; }
  .servicios {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important; }
  .servicios img {
    max-width: 90px;
    height: 90px;
    justify-content: space-evenly; }
  .servicio-title {
    font-size: 0.7rem;
    margin-bottom: 0.5rem; } }

/* TIENDA LEGAL PAGE */
.card-title {
  color: darkgray;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif; }
  .card-title .card-text {
    flex: 1 1 auto;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif; }

@media (hover: hover) {
  #creditcard {
    /*  set start position */
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */ }
  #money {
    /*  set start position */
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */ }
  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
    /*  overide transition for mouse enter */ }
  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    /*  overide transition for mouse enter */ } }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.25rem); }
  100% {
    transform: translateY(0); } }

.button {
  border: none;
  outline: none;
  background-color: purple;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #5086bd;
  color: #fff;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px; }
  .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out; }
  .button .button:active {
    transform: translateY(1px); }
  .button .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 140%; }

@media (max-width: 500px) {
  .button {
    padding: 0.2rem 45px 0.2rem 1rem; } }

/* TRABAJA CON NOSOTROS PAGE */
.servicios1 {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 10px 10px; }
  .servicios1 li {
    display: flex;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 15px; }
  .servicios1 .servicio1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 1px 1px;
    border-radius: 15px;
    color: black;
    font-family: 'Roboto', sans-serif; }
  .servicios1 img {
    max-width: 70px;
    height: 70px;
    border-radius: 5%; }

.colorWhite {
  color: white; }

/* BOTON DE WHAT'S APP*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }
  .whatsapp-icon {
    margin-top: 13px; }

@media screen and (max-width: 600px) {
  .whatsapp {
    display: none; } }
