/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    color: black;
}

header {
    grid-area: header;
    background-color: white;
}

.imgheader {
    margin-right: 200px;
}

.navhover:hover {
    background-color: wheat;
}

main {
    grid-area: main;
    background-color: #EBEBEB;
}

section {
    padding: 4em;
}

.claseTitulo {
    font-size: 1.8rem;
    padding-bottom: 1em;
    text-decoration: underline;
    text-align: center;
}

.divSeccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.divSeccion p {
    padding-right: 1em;
    font-size: 1.6rem;
}
@media (max-width: 500px) {
    .divSeccion {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    }

.imgSeccion {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}


.fondoSeccion {
    background-color: #98b6b6;
    color: black;
}

/* footer */
footer {
    grid-area: footer;
}

.footer {
    background: rgb(79, 79, 79);
    font-family: 'Play', sans-serif;
    text-align: center;
    color: wheat;
}

.footer__row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    font-size: 0.8em;
    display: inline-block;
}

.footer__row a {
    text-decoration: none;
    color: wheat;
    transition: 0.5s;
}

.footer__row a:hover {
    color: black;
}

.footer__row ul {
    width: 100%;
}

.footer__row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer__row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 700px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer__row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer__row a i {
        margin: 0% 3%;
    }
}

/* UTILS */
hr {
    height: 10px;
    width: 30%;
    background-color: black;
}

.hr1 {
    height: 10px;
    width: 30%;
    margin-left: 70%;
    margin-right: 0%;
    background-color: black;
}


/* INDEX PAGE */
.servicios {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicios li {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.servicio {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.servicio-title {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    text-align: center;
}

.servicios img {
    max-width: 200px;
    height: 200px;
    border-radius: 5%;
}

.servicio-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
}

.servicio-img::before {
    display: block;
    padding-top: 56.25%;
}


/* TIENDA LEGAL PAGE */

.card-title {
    color: darkgray;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

.card-text {
    flex: 1 1 auto;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* AGENDA TU ENTREVISTA PAGE */
.divSeccion1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    background-color: #98b6b6;
}

.divSeccion1 h2 {
    margin-top: 20px;
}

.divSeccion1 p {
    padding: 5px 5px;
}

.colorOscuro {
    color: #333029;
}

.colorWheat {
    color: wheat;
}

/* TRABAJA CON NOSOTROS PAGE */
.servicios1 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    margin: 10px 10px;
}

.servicios1 li {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 10px;
    background-color: #4c4444;
    border-radius: 15px;

}

.servicio1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 2px;
    margin: 1px 1px;
    background-color: #333029;
    border-radius: 15px;
    color: white;
}

.servicios1 img {
    max-width: 70px;
    height: 70px;
    border-radius: 5%;
}

/* CAPACITATE PAGE */
.buttonClass {
    font-size: 1rem;
    width: 100px;
    height: 50px;
    border-width: 2px;
    color: black;
    border-color: #4e5875;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0px 9px 38px 0px black;
    text-shadow: 0px 1px 0px #ffffff;
    background: #b3d3d8;
}

.buttonClass:hover {
    background: linear-gradient(#ccc2a6, rgba(223, 208, 164, 1));
}

/* Animaciones */
.animacionP {
    animation: 5s infinite alternate slidein;
}

@keyframes slidein {
    from {
        margin-left: 20%;
        width: 30%
    }

    to {
        margin-right: 10%;
        width: 30%;
    }
}

.animacionAgranda:hover {
    transform: scale(1.1);
}

.animacionSalto {
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    transition: all 0.5s ease;
}

.animacionSalto:hover {
    margin-top: 10px;
}

@media (max-width: 700px) {
    .animacionP {
        animation: none
    }
}