
@import "./parciales/mapa";
@import "./parciales/reset";
@import "./parciales/mixins";
@import "./parciales/general";
@import "./parciales/footer";
@import "./parciales/index";
@import "./parciales/tiendalegal";
@import "./parciales/trabaja";
@import "./parciales/capacitate";