* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.footer {
  background: #4f4f4f;
  font-family: 'Play', sans-serif;
  text-align: center;
  color: wheat;
}

.footer__row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  font-size: 0.8em;
  display: inline-block;
}

.footer__row a {
  text-decoration: none;
  color: wheat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__row a:hover {
  color: black;
}

.footer__row ul {
  width: 100%;
}

.footer__row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer__row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 700px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .footer__row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .footer__row a i {
    margin: 0% 3%;
  }
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

html header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  background-color: white;
}

html header .imgheader {
  margin-right: 200px;
}

html main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: main;
  background-image: url("/assets/vecteezy_blue-sky-and-clouds-at-sunset_1425583.jpg");
}

html section {
  padding: 4em;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  color: black;
}

.navhover:hover {
  background-color: wheat;
}

.hr {
  height: 10px;
  width: 30%;
  background-color: black;
}

.hr1, .hr2 {
  height: 10px;
  width: 30%;
  background-color: black;
  margin-left: 70%;
  margin-right: 0%;
}

.hr2 {
  border-radius: 15px;
}

.divSeccion1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  background-color: #98b6b6;
}

.divSeccion1 h2 {
  margin-top: 20px;
}

.divSeccion1 p {
  padding: 5px 5px;
}

.divSeccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divSeccion .divSeccion p {
  padding-right: 1em;
  font-size: 1.6rem;
}

@media (max-width: 500px) {
  .divSeccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.imgSeccion {
  border-radius: 10%;
  max-width: 100%;
  max-height: 100%;
}

.fondoSeccion {
  background-color: #98b6b6;
  color: black;
}

.claseTitulo {
  font-size: 1.8rem;
  padding-bottom: 1em;
  text-decoration: underline;
  text-align: center;
}

.card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.animacionP {
  -webkit-animation: 5s infinite alternate slidein;
          animation: 5s infinite alternate slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 20%;
    width: 30%;
  }
  to {
    margin-right: 10%;
    width: 30%;
  }
}

@keyframes slidein {
  from {
    margin-left: 20%;
    width: 30%;
  }
  to {
    margin-right: 10%;
    width: 30%;
  }
}

@media (max-width: 700px) {
  .animacionP {
    -webkit-animation: none;
            animation: none;
  }
}

.animacionSalto {
  float: left;
  -webkit-transition: margin 0.5s ease-out;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.animacionSalto:hover {
  margin-top: 10px;
}

.animacionAgranda:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 700px) {
  .calendly-inline-widget {
    height: 350px !important;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
}

.footer {
  background: #4f4f4f;
  font-family: 'Play', sans-serif;
  text-align: center;
  color: wheat;
}

.footer__row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  font-size: 0.8em;
  display: inline-block;
}

.footer__row a {
  text-decoration: none;
  color: wheat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__row a:hover {
  color: black;
}

.footer__row ul {
  width: 100%;
}

.footer__row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer__row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 700px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .footer__row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .footer__row a i {
    margin: 0% 3%;
  }
}

/* INDEX PAGE */
.servicios {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.servicios img {
  max-width: 200px;
  height: 200px;
  border-radius: 5%;
}

.servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicio-title {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-align: center;
}

.servicio-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
}

.servicio-img::before {
  display: block;
  padding-top: 56.25%;
}

/* TIENDA LEGAL PAGE */
.card-title {
  color: darkgray;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.card-title .card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* TRABAJA CON NOSOTROS PAGE */
.servicios1 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px 10px;
}

.servicios1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px 10px;
  background-color: #4c4444;
  border-radius: 15px;
}

.servicios1 .servicio1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  margin: 1px 1px;
  background-color: #333029;
  border-radius: 15px;
  color: white;
}

.servicios1 img {
  max-width: 70px;
  height: 70px;
  border-radius: 5%;
}

.colorWheat {
  color: wheat;
}

/* CAPACITATE PAGE */
.buttonClass {
  font-size: 1rem;
  width: 100px;
  height: 50px;
  border-width: 2px;
  color: black;
  border-color: #4e5875;
  font-weight: bold;
  border-radius: 15px;
  -webkit-box-shadow: 0px 9px 38px 0px black;
          box-shadow: 0px 9px 38px 0px black;
  text-shadow: 0px 1px 0px #ffffff;
  background: #b3d3d8;
}

.buttonClass:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc2a6), to(#dfd0a4));
  background: linear-gradient(#ccc2a6, #dfd0a4);
}
/*# sourceMappingURL=main.css.map */