
@import "./variables";

/* BOTON DE WHAT'S APP*/
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: $colorverde;
    color: $colorblanco;
    border-radius:50px;
    text-align: $text-align;
    font-size: $font-size;
    z-index:100;
    &-icon {
      margin-top:13px;
    }
  }

  @media screen and (max-width: 200px) {
    .whatsapp{
    display:none;
    }
    
    }
    