@import "./mapa";

footer {
    grid-area: footer;
}
    .footer {
        background: #4f4f4f;
        font-family: 'Play', sans-serif;
        text-align: center;
        color: map-get($colores, "footerText");
        &__row {
            width: 100%;
            margin: 1% 0%;
            padding: 0.6% 0%;
            font-size: 0.8em;
            display: inline-block;
        }
        &__row a {
            text-decoration: none;
            color:map-get($colores, "footerRowA");
            transition: 0.5s;
        }
        &__row a:hover {
            color: map-get($colores, "footerRowHover");
        }
        &__row ul {
            width: 100%;
        }
        &__row ul li {
            display: inline-block;
            margin: 0px 30px;
        }
        &__row a i {
            font-size: 2em;
            margin: 0% 1%;
        }
    }

//  Media queries //

@media (max-width: 700px) {
    .footer {
        text-align: left;
        padding: 5%;
        .footer__row ul li {
            display: block;
            margin: 10px 0px;
            text-align: left;
        }
        .footer__row a i {
            margin: 0% 3%;
        }
    }

}