@import "./mapa";

footer {
    grid-area: footer;
}
    .footer {
        background: map-get($colores, "footerBackg");
        text-align: center;
        color: map-get($colores, "footerText");
        &__row {
            width: 100%;
            padding: 0.6% 0%;
            font-size: 1rem;
            display: inline-block;
        }
        &__row a {
            text-decoration: none;
            color:map-get($colores, "footerRowA");
        }
        &__row ul {
            width: 100%;
        }
        &__row ul li {
            display: inline-block;
            margin: 0px 20px;
            padding:  0.6% 0.6%;
        }
        &__row ul li:hover {
            color: map-get($colores, "footerRowHover");
            background-color: map-get($colores, "footerHoverBackg")
            
        }
        &__row a i {
            font-size: 2rem;
            margin: 0% 1%;
            padding: 5px 5px;
        }
    }

.footerFinal{
    font-weight: 600;
}
//  Media queries //

@media (max-width: 900px) {
    .footer {
        text-align: left;
        padding: 2%;
        .footer__row ul li {
            display: block;
            margin: 5px 0px;
            text-align: left;
        }
        .footer__row a i {
            margin: 0% 2%;
        }
    }

    .footerFinal{
        text-align: center;
    }
}

@media (min-width: 820px) {
.footer__row {
    display: flex;
    justify-content: center;
}
}

@media (min-width: 200px) {
    .footer__row {
        display: flex;
        justify-content: center;
       & a i {
        padding: 10px 10px;
        }
    }
    }