@import "./mapa";
@import "./reset";
@import "./mixins";
@import "./footer";

html {
    header {
        grid-area: header;
    }
        .imgheader {
            margin-right: 180px;
            margin-left: 20px;
        }
    
    main {
        grid-area: main;
        background-color: #d9dcf7;
        font-family: 'Oswald', sans-serif;
    }
    section {
        font-size: 1.3rem;
        padding: 2em;
        background-color: #d9dcf7;
        font-family: 'Roboto', sans-serif;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
}

.navhover:hover {
    background-color: map-get($colores, "navHover");
}

.hr {
    @include hr;
}

.hr1 {
    @include hr;
    margin-left: 70%;
    margin-right: 0%;
}

.hr2 {
    @extend .hr1;
    border-radius: 15px;
}

// MEDIA QUERIES HTML PRINCIPAL

@media (max-width: 800px) {

    html {
        header {
    .imgheader {
        margin-right: 0px;
    }
}
        section {
            padding: 1em;
            font-size: 0.9rem;
    }
}
    .hr {
       width: 0px;
    }
    .hr1 {
        width: 0px;
     }
}

// ENCABEZADO

  .encabezado::after {
      display: block;
      content: "";
      border-top: 40px solid  #9DB8E7;
      border-right: 95vw solid transparent;
      background-color: #d9dcf7;
    }
  .wrapper {
      padding: 30px;
    }
  
  
  h1 {
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      text-shadow: 4x 4px black;
      }
  h2 {
      color: black;
      text-shadow: 4px 4x white;
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      margin-left: 20px;
      padding: 20px 20px;
      }

@media (max-width: 500px) {
    h1 {
        font-size: 1.7rem;
        font-family: 'Oswald', sans-serif;
        text-shadow: 2px 2px black;
        }
    h2 {
        font-size: 1.5rem;
        text-shadow: 2px 2x white;
        padding: 8px 8px;
        }
    }
.divSeccion1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;

    h2 {
        margin-top: 20px;
    }
    p {
        padding: 5px 5px;
}
}

.divSeccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    .divSeccion p {
        padding-right: 0.4em;
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .divSeccion {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}
    
.imgSeccion {
        width:300px;
        height:300px;
        border-radius: 150px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        margin: 10px 10px;
    }

    @media (max-width: 500px) {
        .imgSeccion { 
            width:120px;
            height:120px;
            border-radius: 10px;
            box-shadow: 0px;
        }
    }
.fondoSeccion {
    color: black;
}

.claseTitulo {
    font-size: 1.8rem;
    padding-bottom: 1em;
    font-family: 'Oswald', sans-serif;
    text: {
     decoration: underline;
     align: center;
}

}
@media (max-width: 500px) {
    .claseTitulo { 
    font-size: 1.3rem;
}
}

.card-text {
    flex: 1 1 auto;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}


// ANIMACIONES

.animacionSalto {
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    transition: all 0.5s ease;
    &:hover {
        margin-top: 10px;
    }
}

.animacionAgranda {
    &:hover {
        transform: scale(1.1);
    }
}

// Media queries de calendario de agenda tu entrevista 
@media (max-width: 700px) {
    .calendly-inline-widget {
        height:350px !important;
    }
}
