@import "./mapa";
@import "./reset";
@import "./mixins";
@import "./footer";

html {
    font-family: 'Roboto Condensed', sans-serif;
    header {
        grid-area: header;
        background-color: map-get($colores, "header");
        .imgheader {
            margin-right: 200px;
        }
    }
    main {
        grid-area: main;
        background-color: map-get($colores, "main");
    }
    
    section {
        padding: 4em;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    color: map-get($colores, "gridContainer");
}

.navhover:hover {
    background-color: map-get($colores, "navHover");
}

.hr {
    @include hr;
}

.hr1 {
    @include hr;
    margin-left: 70%;
    margin-right: 0%;
}

.hr2 {
    @extend .hr1;
    border-radius: 15px;
}

.divSeccion1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    background-color: map-get($colores, "divSeccion1");

    h2 {
        margin-top: 20px;
    }
    p {
        padding: 5px 5px;
}
}

.divSeccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    .divSeccion p {
        padding-right: 1em;
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .divSeccion {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
    
.imgSeccion {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}

.fondoSeccion {
    background-color: #98b6b6;
    color: black;
}

.claseTitulo {
    font-size: 1.8rem;
    padding-bottom: 1em;
    
    text: {
     decoration: underline;
     align: center;
}
}

.card-text {
    flex: 1 1 auto;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}


// ANIMACIONES

.animacionP {
    animation: 5s infinite alternate slidein;
}

@keyframes slidein {
    from {
        margin-left: 20%;
        width: 30%
    }

    to {
        margin-right: 10%;
        width: 30%;
    }
}

@media (max-width: 700px) {
    .animacionP {
        animation: none
    }
}

.animacionSalto {
    float: left;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    transition: all 0.5s ease;
    &:hover {
        margin-top: 10px;
    }
}

.animacionAgranda {
    &:hover {
        transform: scale(1.1);
    }
}

// Media queries de calendario de agenda tu entrevista 
@media (max-width: 700px) {
    .calendly-inline-widget {
        height:350px !important;
    }
}
