/* INDEX PAGE */
.servicios {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    justify-items: center;
    align-items: center;
    text-align: center;
  
    & img {
        max-width: 200px;
        height: 200px;
        border-radius: 5%;
        }
    }
    
    .servicio {
        &-title {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
                }
        
        &-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: contrast(70%);
            overflow: hidden;
            position: relative;
            &::before {
                display: block;
                padding-top: 56.25%;
            }
        }
    }
    
.botonindex {
        font-family:'Oswald', sans-serif;
        font-size: 1.2rem;
}

.colorwhite {
color: white;    
}

// MEDIA QUERIES 

@media (max-width: 500px) {   
    .textmq {
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }
    .botonindex {
        font-family:'Oswald', sans-serif;
        font-size: 0.9rem;
    }
    .servicios
    {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }
    .servicios & img { 
        max-width: 90px;
        height: 90px;
        justify-content: space-evenly;
    }
    .servicio {
        &-title {
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
        }
}
}