//  Agregué este mixin en el archivo main.scss, que se aplica en destino.css, que a su vez se aplica en la page de Agenda tu entrevista.  
@import "./mapa";

@mixin hr {
    height: 10px;
    width: 250px;
    background-color: map-get($colores, "hr")
}

