
/* TRABAJA CON NOSOTROS PAGE */
.servicios1 {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px 10px;

    & li {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 10px;
    background-color: #4c4444;
    border-radius: 15px;
}

.servicio1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 2px;
    margin: 1px 1px;
    background-color: #333029;
    border-radius: 15px;
    color: white;
}
    & img {
    max-width: 70px;
    height: 70px;
    border-radius: 5%;
}
}
